<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.6"
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
    crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>

  <body class="container m-6">
    <h1 class="text-3xl font-bold">Home</h1>
    <p>Hello {{name}}</p>
    <button hx-get="/wow" hx-target="#content" hx-trigger="click" hx-swap="beforeend" class="m-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-red-700 rounded">Say Hello</button>
    <div id="content">
    </div>
  </body>
</html>
